.button {
    background-color: red;
 }
 .Modal {
    position: absolute;
    
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 50wh;
}