.box1{
    background-color:green;
    border-radius: 10px;
    color:"#fff";
    height:200px;
    width:200px;
    margin: 5px;
}

.box2{
    background-color:red;
    border-radius: 10px;
    color:"#fff";
    height:200px;
    width:200px;
    margin: 5px;
}

.box3{
    background-color:blue;
    border-radius: 10px;
    color:"#fff";
    height:200px;
    width:200px;
    margin: 5px;
}

.box4{
    background-color:yellow;
    border-radius: 10px;
    color:"#fff";
    height:200px;
    width:200px;
    margin: 5px;
}

@media screen and (max-width: 800px) {
    .box1, .box2, .box3, .box4{
      width: 20vh; /* The width is 100%, when the viewport is 800px or smaller */
      height: 20vh;
        
    }
    .text-color, h1 {
        font-size:2em;
    }

  }
 