.numberpickerdiv {
  font-family: "Bungee Shade", cursive;
}


@media screen and (max-width: 800px) {
  .number1, .number2, .number3, .number4{
    width: 20vw; 
    height: 20vw;
      
  }
  .text-color, h1 {
      font-size:2em;
  }

}